html{
	font: 1em;
	margin: 0px;
}

body{
	margin: 0px;
	color: #3f3f3f;
	overflow-wrap: break-word;
}

h1, h2, h3, h4, h5{
	color: #3f3f3f;
}

#footer{
	background: #3f3f3f;
	color: white;
	padding: 10px 0px 25px 15px;
	margin-top: 25px;
}

#footer a, a:visited{
	color: white;
}

#body{
	padding: 15px;
}

/**
 * Responsive stuff.
 */
.img-responsive{
	width: 100%;
	height: auto;
}

/**
 * Forms
 */
.required{
	border: 1px solid blue;
}
.fieldHelp{
	font-size: 0.9em;
	color: blue;
}
textarea{
	width: 80%;
}
