body{
	font-size: 24px;
	background: #494747;
	color: #e5e5e5;
}

#logsPage{
	max-width: 900px;
}

.full{
	width: 100%;
}

.sideMenuLinks{
	font-size: 0.8em;
}

.sideMenuLinksSep{
	margin: 0px;
}

.logHeader{
	border-bottom: 1px solid #e5e5e5;
	background: #8e8b8b;
	color: #fff;
}

.logLine{
	border-bottom: 1px solid #e5e5e5;
}

.logTime{
	font-size: 0.5em;
}

.logContents{
	word-wrap: anywhere;
}

a, a:hover, a:visited, a:active{
	color: white
}

code{
	border: 1px solid white;
	background: #a09999;
	display: block;
	padding: 6px;
	max-width: 600px;
	word-wrap: anywhere;
}

.query, .req, .resp{
	border: 1px solid white;
	background: #a09999;
	display: block;
	padding: 6px;
	max-width: 600px;
}

#connectedTo{
	font-size: 12px;
}
