<tr>
	<td class="logLine logType" valign="top">%s</td>
	<td class="logLine logTime" valign="top">%s</td>
	<td class="logLine logTitle" valign="top">%s</td>
	<td class="logLine logContents" valign="top">%s</td>
</tr>

