@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dypvoz');
  src:  url('fonts/icomoon.eot?dypvoz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dypvoz') format('truetype'),
    url('fonts/icomoon.woff?dypvoz') format('woff'),
    url('fonts/icomoon.svg?dypvoz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home6:before {
  content: "\efcf";
}
.icon-home22:before {
  content: "\efd0";
}
.icon-home32:before {
  content: "\efd1";
}
.icon-office2:before {
  content: "\efd2";
}
.icon-newspaper2:before {
  content: "\efd3";
}
.icon-pencil3:before {
  content: "\efd4";
}
.icon-pencil22:before {
  content: "\efd5";
}
.icon-quill2:before {
  content: "\efd6";
}
.icon-pen3:before {
  content: "\efd7";
}
.icon-blog2:before {
  content: "\efd8";
}
.icon-eyedropper3:before {
  content: "\efd9";
}
.icon-droplet2:before {
  content: "\efda";
}
.icon-paint-format2:before {
  content: "\efdb";
}
.icon-image3:before {
  content: "\efdc";
}
.icon-images2:before {
  content: "\efdd";
}
.icon-camera4:before {
  content: "\efde";
}
.icon-headphones4:before {
  content: "\efdf";
}
.icon-music2:before {
  content: "\efe0";
}
.icon-play5:before {
  content: "\efe1";
}
.icon-film3:before {
  content: "\efe2";
}
.icon-video-camera3:before {
  content: "\efe3";
}
.icon-dice2:before {
  content: "\efe4";
}
.icon-pacman2:before {
  content: "\efe5";
}
.icon-spades2:before {
  content: "\efe6";
}
.icon-clubs2:before {
  content: "\efe7";
}
.icon-diamonds2:before {
  content: "\efe8";
}
.icon-bullhorn2:before {
  content: "\efe9";
}
.icon-connection2:before {
  content: "\efea";
}
.icon-podcast2:before {
  content: "\efeb";
}
.icon-feed2:before {
  content: "\efec";
}
.icon-mic3:before {
  content: "\efed";
}
.icon-book3:before {
  content: "\efee";
}
.icon-books2:before {
  content: "\efef";
}
.icon-library3:before {
  content: "\eff0";
}
.icon-file-text3:before {
  content: "\eff1";
}
.icon-profile2:before {
  content: "\eff2";
}
.icon-file-empty2:before {
  content: "\eff3";
}
.icon-files-empty2:before {
  content: "\eff4";
}
.icon-file-text22:before {
  content: "\eff5";
}
.icon-file-picture2:before {
  content: "\eff6";
}
.icon-file-music2:before {
  content: "\eff7";
}
.icon-file-play2:before {
  content: "\eff8";
}
.icon-file-video2:before {
  content: "\eff9";
}
.icon-file-zip2:before {
  content: "\effa";
}
.icon-copy3:before {
  content: "\effb";
}
.icon-paste3:before {
  content: "\effc";
}
.icon-stack2:before {
  content: "\effd";
}
.icon-folder3:before {
  content: "\effe";
}
.icon-folder-open2:before {
  content: "\efff";
}
.icon-folder-plus2:before {
  content: "\f000";
}
.icon-folder-minus2:before {
  content: "\f001";
}
.icon-folder-download2:before {
  content: "\f002";
}
.icon-folder-upload2:before {
  content: "\f003";
}
.icon-price-tag2:before {
  content: "\f004";
}
.icon-price-tags2:before {
  content: "\f005";
}
.icon-barcode2:before {
  content: "\f006";
}
.icon-qrcode2:before {
  content: "\f007";
}
.icon-ticket3:before {
  content: "\f008";
}
.icon-cart2:before {
  content: "\f009";
}
.icon-coin-dollar2:before {
  content: "\f00a";
}
.icon-coin-euro2:before {
  content: "\f00b";
}
.icon-coin-pound2:before {
  content: "\f00c";
}
.icon-coin-yen2:before {
  content: "\f00d";
}
.icon-credit-card3:before {
  content: "\f00e";
}
.icon-calculator3:before {
  content: "\f00f";
}
.icon-lifebuoy2:before {
  content: "\f010";
}
.icon-phone3:before {
  content: "\f011";
}
.icon-phone-hang-up2:before {
  content: "\f012";
}
.icon-address-book2:before {
  content: "\f013";
}
.icon-envelop2:before {
  content: "\f014";
}
.icon-pushpin2:before {
  content: "\f015";
}
.icon-location4:before {
  content: "\f016";
}
.icon-location22:before {
  content: "\f017";
}
.icon-compass4:before {
  content: "\f018";
}
.icon-compass22:before {
  content: "\f019";
}
.icon-map4:before {
  content: "\f01a";
}
.icon-map22:before {
  content: "\f01b";
}
.icon-history2:before {
  content: "\f01c";
}
.icon-clock4:before {
  content: "\f01d";
}
.icon-clock22:before {
  content: "\f01e";
}
.icon-alarm2:before {
  content: "\f01f";
}
.icon-bell2:before {
  content: "\f020";
}
.icon-stopwatch2:before {
  content: "\f021";
}
.icon-calendar4:before {
  content: "\f022";
}
.icon-printer3:before {
  content: "\f023";
}
.icon-keyboard3:before {
  content: "\f024";
}
.icon-display2:before {
  content: "\f025";
}
.icon-laptop2:before {
  content: "\f026";
}
.icon-mobile3:before {
  content: "\f027";
}
.icon-mobile22:before {
  content: "\f028";
}
.icon-tablet3:before {
  content: "\f029";
}
.icon-tv2:before {
  content: "\f02a";
}
.icon-drawer3:before {
  content: "\f02b";
}
.icon-drawer22:before {
  content: "\f02c";
}
.icon-box-add2:before {
  content: "\f02d";
}
.icon-box-remove2:before {
  content: "\f02e";
}
.icon-download6:before {
  content: "\f02f";
}
.icon-upload6:before {
  content: "\f030";
}
.icon-floppy-disk2:before {
  content: "\f031";
}
.icon-drive2:before {
  content: "\f032";
}
.icon-database2:before {
  content: "\f033";
}
.icon-undo4:before {
  content: "\f034";
}
.icon-redo3:before {
  content: "\f035";
}
.icon-undo22:before {
  content: "\f036";
}
.icon-redo22:before {
  content: "\f037";
}
.icon-forward4:before {
  content: "\f038";
}
.icon-reply3:before {
  content: "\f039";
}
.icon-bubble3:before {
  content: "\f03a";
}
.icon-bubbles5:before {
  content: "\f03b";
}
.icon-bubbles22:before {
  content: "\f03c";
}
.icon-bubble22:before {
  content: "\f03d";
}
.icon-bubbles32:before {
  content: "\f03e";
}
.icon-bubbles42:before {
  content: "\f03f";
}
.icon-user4:before {
  content: "\f040";
}
.icon-users2:before {
  content: "\f041";
}
.icon-user-plus2:before {
  content: "\f042";
}
.icon-user-minus2:before {
  content: "\f043";
}
.icon-user-check2:before {
  content: "\f044";
}
.icon-user-tie2:before {
  content: "\f045";
}
.icon-quotes-left2:before {
  content: "\f046";
}
.icon-quotes-right2:before {
  content: "\f047";
}
.icon-hour-glass3:before {
  content: "\f048";
}
.icon-spinner12:before {
  content: "\f049";
}
.icon-spinner22:before {
  content: "\f04a";
}
.icon-spinner32:before {
  content: "\f04b";
}
.icon-spinner42:before {
  content: "\f04c";
}
.icon-spinner52:before {
  content: "\f04d";
}
.icon-spinner62:before {
  content: "\f04e";
}
.icon-spinner72:before {
  content: "\f04f";
}
.icon-spinner82:before {
  content: "\f050";
}
.icon-spinner92:before {
  content: "\f051";
}
.icon-spinner102:before {
  content: "\f052";
}
.icon-spinner112:before {
  content: "\f053";
}
.icon-binoculars2:before {
  content: "\f054";
}
.icon-search3:before {
  content: "\f055";
}
.icon-zoom-in3:before {
  content: "\f056";
}
.icon-zoom-out3:before {
  content: "\f057";
}
.icon-enlarge3:before {
  content: "\f058";
}
.icon-shrink3:before {
  content: "\f059";
}
.icon-enlarge22:before {
  content: "\f05a";
}
.icon-shrink22:before {
  content: "\f05b";
}
.icon-key4:before {
  content: "\f05c";
}
.icon-key22:before {
  content: "\f05d";
}
.icon-lock2:before {
  content: "\f05e";
}
.icon-unlocked2:before {
  content: "\f05f";
}
.icon-wrench4:before {
  content: "\f060";
}
.icon-equalizer4:before {
  content: "\f061";
}
.icon-equalizer22:before {
  content: "\f062";
}
.icon-cog4:before {
  content: "\f063";
}
.icon-cogs2:before {
  content: "\f064";
}
.icon-hammer3:before {
  content: "\f065";
}
.icon-magic-wand2:before {
  content: "\f066";
}
.icon-aid-kit2:before {
  content: "\f067";
}
.icon-bug3:before {
  content: "\f068";
}
.icon-pie-chart2:before {
  content: "\f069";
}
.icon-stats-dots2:before {
  content: "\f06a";
}
.icon-stats-bars3:before {
  content: "\f06b";
}
.icon-stats-bars22:before {
  content: "\f06c";
}
.icon-trophy3:before {
  content: "\f06d";
}
.icon-gift3:before {
  content: "\f06e";
}
.icon-glass3:before {
  content: "\f06f";
}
.icon-glass22:before {
  content: "\f070";
}
.icon-mug2:before {
  content: "\f071";
}
.icon-spoon-knife2:before {
  content: "\f072";
}
.icon-leaf2:before {
  content: "\f073";
}
.icon-rocket2:before {
  content: "\f074";
}
.icon-meter3:before {
  content: "\f075";
}
.icon-meter22:before {
  content: "\f076";
}
.icon-hammer22:before {
  content: "\f077";
}
.icon-fire2:before {
  content: "\f078";
}
.icon-lab2:before {
  content: "\f079";
}
.icon-magnet2:before {
  content: "\f07a";
}
.icon-bin3:before {
  content: "\f07b";
}
.icon-bin22:before {
  content: "\f07c";
}
.icon-briefcase2:before {
  content: "\f07d";
}
.icon-airplane3:before {
  content: "\f07e";
}
.icon-truck2:before {
  content: "\f07f";
}
.icon-road2:before {
  content: "\f080";
}
.icon-accessibility2:before {
  content: "\f081";
}
.icon-target4:before {
  content: "\f082";
}
.icon-shield3:before {
  content: "\f083";
}
.icon-power2:before {
  content: "\f084";
}
.icon-switch2:before {
  content: "\f085";
}
.icon-power-cord2:before {
  content: "\f086";
}
.icon-clipboard3:before {
  content: "\f087";
}
.icon-list-numbered2:before {
  content: "\f088";
}
.icon-list5:before {
  content: "\f089";
}
.icon-list22:before {
  content: "\f08a";
}
.icon-tree2:before {
  content: "\f08b";
}
.icon-menu6:before {
  content: "\f08c";
}
.icon-menu22:before {
  content: "\f08d";
}
.icon-menu32:before {
  content: "\f08e";
}
.icon-menu42:before {
  content: "\f08f";
}
.icon-cloud4:before {
  content: "\f090";
}
.icon-cloud-download3:before {
  content: "\f091";
}
.icon-cloud-upload4:before {
  content: "\f092";
}
.icon-cloud-check2:before {
  content: "\f093";
}
.icon-download22:before {
  content: "\f094";
}
.icon-upload22:before {
  content: "\f095";
}
.icon-download32:before {
  content: "\f096";
}
.icon-upload32:before {
  content: "\f097";
}
.icon-sphere2:before {
  content: "\f098";
}
.icon-earth2:before {
  content: "\f099";
}
.icon-link4:before {
  content: "\f09a";
}
.icon-flag3:before {
  content: "\f09b";
}
.icon-attachment3:before {
  content: "\f09c";
}
.icon-eye3:before {
  content: "\f09d";
}
.icon-eye-plus2:before {
  content: "\f09e";
}
.icon-eye-minus2:before {
  content: "\f09f";
}
.icon-eye-blocked2:before {
  content: "\f0a0";
}
.icon-bookmark3:before {
  content: "\f0a1";
}
.icon-bookmarks2:before {
  content: "\f0a2";
}
.icon-sun2:before {
  content: "\f0a3";
}
.icon-contrast2:before {
  content: "\f0a4";
}
.icon-brightness-contrast2:before {
  content: "\f0a5";
}
.icon-star-empty2:before {
  content: "\f0a6";
}
.icon-star-half2:before {
  content: "\f0a7";
}
.icon-star-full3:before {
  content: "\f0a8";
}
.icon-heart3:before {
  content: "\f0a9";
}
.icon-heart-broken2:before {
  content: "\f0aa";
}
.icon-man2:before {
  content: "\f0ab";
}
.icon-woman2:before {
  content: "\f0ac";
}
.icon-man-woman2:before {
  content: "\f0ad";
}
.icon-happy3:before {
  content: "\f0ae";
}
.icon-happy22:before {
  content: "\f0af";
}
.icon-smile3:before {
  content: "\f0b0";
}
.icon-smile22:before {
  content: "\f0b1";
}
.icon-tongue3:before {
  content: "\f0b2";
}
.icon-tongue22:before {
  content: "\f0b3";
}
.icon-sad3:before {
  content: "\f0b4";
}
.icon-sad22:before {
  content: "\f0b5";
}
.icon-wink3:before {
  content: "\f0b6";
}
.icon-wink22:before {
  content: "\f0b7";
}
.icon-grin3:before {
  content: "\f0b8";
}
.icon-grin22:before {
  content: "\f0b9";
}
.icon-cool3:before {
  content: "\f0ba";
}
.icon-cool22:before {
  content: "\f0bb";
}
.icon-angry3:before {
  content: "\f0bc";
}
.icon-angry22:before {
  content: "\f0bd";
}
.icon-evil3:before {
  content: "\f0be";
}
.icon-evil22:before {
  content: "\f0bf";
}
.icon-shocked3:before {
  content: "\f0c0";
}
.icon-shocked22:before {
  content: "\f0c1";
}
.icon-baffled3:before {
  content: "\f0c2";
}
.icon-baffled22:before {
  content: "\f0c3";
}
.icon-confused3:before {
  content: "\f0c4";
}
.icon-confused22:before {
  content: "\f0c5";
}
.icon-neutral3:before {
  content: "\f0c6";
}
.icon-neutral22:before {
  content: "\f0c7";
}
.icon-hipster3:before {
  content: "\f0c8";
}
.icon-hipster22:before {
  content: "\f0c9";
}
.icon-wondering3:before {
  content: "\f0ca";
}
.icon-wondering22:before {
  content: "\f0cb";
}
.icon-sleepy3:before {
  content: "\f0cc";
}
.icon-sleepy22:before {
  content: "\f0cd";
}
.icon-frustrated3:before {
  content: "\f0ce";
}
.icon-frustrated22:before {
  content: "\f0cf";
}
.icon-crying3:before {
  content: "\f0d0";
}
.icon-crying22:before {
  content: "\f0d1";
}
.icon-point-up2:before {
  content: "\f0d2";
}
.icon-point-right2:before {
  content: "\f0d3";
}
.icon-point-down2:before {
  content: "\f0d4";
}
.icon-point-left2:before {
  content: "\f0d5";
}
.icon-warning2:before {
  content: "\f0d6";
}
.icon-notification3:before {
  content: "\f0d7";
}
.icon-question3:before {
  content: "\f0d8";
}
.icon-plus3:before {
  content: "\f0d9";
}
.icon-minus3:before {
  content: "\f0da";
}
.icon-info3:before {
  content: "\f0db";
}
.icon-cancel-circle2:before {
  content: "\f0dc";
}
.icon-blocked2:before {
  content: "\f0dd";
}
.icon-cross2:before {
  content: "\f0de";
}
.icon-checkmark5:before {
  content: "\f0df";
}
.icon-checkmark22:before {
  content: "\f0e0";
}
.icon-spell-check2:before {
  content: "\f0e1";
}
.icon-enter2:before {
  content: "\f0e2";
}
.icon-exit2:before {
  content: "\f0e3";
}
.icon-play23:before {
  content: "\f0e4";
}
.icon-pause5:before {
  content: "\f0e5";
}
.icon-stop4:before {
  content: "\f0e6";
}
.icon-previous3:before {
  content: "\f0e7";
}
.icon-next3:before {
  content: "\f0e8";
}
.icon-backward4:before {
  content: "\f0e9";
}
.icon-forward23:before {
  content: "\f0ea";
}
.icon-play32:before {
  content: "\f0eb";
}
.icon-pause22:before {
  content: "\f0ec";
}
.icon-stop22:before {
  content: "\f0ed";
}
.icon-backward22:before {
  content: "\f0ee";
}
.icon-forward32:before {
  content: "\f0ef";
}
.icon-first3:before {
  content: "\f0f0";
}
.icon-last3:before {
  content: "\f0f1";
}
.icon-previous22:before {
  content: "\f0f2";
}
.icon-next22:before {
  content: "\f0f3";
}
.icon-eject3:before {
  content: "\f0f4";
}
.icon-volume-high2:before {
  content: "\f0f5";
}
.icon-volume-medium2:before {
  content: "\f0f6";
}
.icon-volume-low2:before {
  content: "\f0f7";
}
.icon-volume-mute5:before {
  content: "\f0f8";
}
.icon-volume-mute22:before {
  content: "\f0f9";
}
.icon-volume-increase2:before {
  content: "\f0fa";
}
.icon-volume-decrease2:before {
  content: "\f0fb";
}
.icon-loop4:before {
  content: "\f0fc";
}
.icon-loop22:before {
  content: "\f0fd";
}
.icon-infinite2:before {
  content: "\f0fe";
}
.icon-shuffle3:before {
  content: "\f0ff";
}
.icon-arrow-up-left3:before {
  content: "\f100";
}
.icon-arrow-up5:before {
  content: "\f101";
}
.icon-arrow-up-right3:before {
  content: "\f102";
}
.icon-arrow-right5:before {
  content: "\f103";
}
.icon-arrow-down-right3:before {
  content: "\f104";
}
.icon-arrow-down5:before {
  content: "\f105";
}
.icon-arrow-down-left3:before {
  content: "\f106";
}
.icon-arrow-left5:before {
  content: "\f107";
}
.icon-arrow-up-left22:before {
  content: "\f108";
}
.icon-arrow-up22:before {
  content: "\f109";
}
.icon-arrow-up-right22:before {
  content: "\f10a";
}
.icon-arrow-right22:before {
  content: "\f10b";
}
.icon-arrow-down-right22:before {
  content: "\f10c";
}
.icon-arrow-down22:before {
  content: "\f10d";
}
.icon-arrow-down-left22:before {
  content: "\f10e";
}
.icon-arrow-left22:before {
  content: "\f10f";
}
.icon-circle-up2:before {
  content: "\f110";
}
.icon-circle-right2:before {
  content: "\f111";
}
.icon-circle-down2:before {
  content: "\f112";
}
.icon-circle-left2:before {
  content: "\f113";
}
.icon-tab2:before {
  content: "\f114";
}
.icon-move-up2:before {
  content: "\f115";
}
.icon-move-down2:before {
  content: "\f116";
}
.icon-sort-alpha-asc2:before {
  content: "\f117";
}
.icon-sort-alpha-desc2:before {
  content: "\f118";
}
.icon-sort-numeric-asc2:before {
  content: "\f119";
}
.icon-sort-numberic-desc2:before {
  content: "\f11a";
}
.icon-sort-amount-asc2:before {
  content: "\f11b";
}
.icon-sort-amount-desc2:before {
  content: "\f11c";
}
.icon-command2:before {
  content: "\f11d";
}
.icon-shift2:before {
  content: "\f11e";
}
.icon-ctrl2:before {
  content: "\f11f";
}
.icon-opt2:before {
  content: "\f120";
}
.icon-checkbox-checked2:before {
  content: "\f121";
}
.icon-checkbox-unchecked2:before {
  content: "\f122";
}
.icon-radio-checked3:before {
  content: "\f123";
}
.icon-radio-checked22:before {
  content: "\f124";
}
.icon-radio-unchecked2:before {
  content: "\f125";
}
.icon-crop2:before {
  content: "\f126";
}
.icon-make-group2:before {
  content: "\f127";
}
.icon-ungroup2:before {
  content: "\f128";
}
.icon-scissors2:before {
  content: "\f129";
}
.icon-filter3:before {
  content: "\f12a";
}
.icon-font2:before {
  content: "\f12b";
}
.icon-ligature3:before {
  content: "\f12c";
}
.icon-ligature22:before {
  content: "\f12d";
}
.icon-text-height2:before {
  content: "\f12e";
}
.icon-text-width2:before {
  content: "\f12f";
}
.icon-font-size2:before {
  content: "\f130";
}
.icon-bold2:before {
  content: "\f131";
}
.icon-underline2:before {
  content: "\f132";
}
.icon-italic2:before {
  content: "\f133";
}
.icon-strikethrough2:before {
  content: "\f134";
}
.icon-omega2:before {
  content: "\f135";
}
.icon-sigma2:before {
  content: "\f136";
}
.icon-page-break2:before {
  content: "\f137";
}
.icon-superscript3:before {
  content: "\f138";
}
.icon-subscript3:before {
  content: "\f139";
}
.icon-superscript22:before {
  content: "\f13a";
}
.icon-subscript22:before {
  content: "\f13b";
}
.icon-text-color2:before {
  content: "\f13c";
}
.icon-pagebreak2:before {
  content: "\f13d";
}
.icon-clear-formatting2:before {
  content: "\f13e";
}
.icon-table3:before {
  content: "\f13f";
}
.icon-table22:before {
  content: "\f140";
}
.icon-insert-template2:before {
  content: "\f141";
}
.icon-pilcrow3:before {
  content: "\f142";
}
.icon-ltr2:before {
  content: "\f143";
}
.icon-rtl2:before {
  content: "\f144";
}
.icon-section2:before {
  content: "\f145";
}
.icon-paragraph-left2:before {
  content: "\f146";
}
.icon-paragraph-center2:before {
  content: "\f147";
}
.icon-paragraph-right2:before {
  content: "\f148";
}
.icon-paragraph-justify2:before {
  content: "\f149";
}
.icon-indent-increase3:before {
  content: "\f14a";
}
.icon-indent-decrease3:before {
  content: "\f14b";
}
.icon-share5:before {
  content: "\f14c";
}
.icon-new-tab2:before {
  content: "\f14d";
}
.icon-embed3:before {
  content: "\f14e";
}
.icon-embed22:before {
  content: "\f14f";
}
.icon-terminal2:before {
  content: "\f150";
}
.icon-share22:before {
  content: "\f151";
}
.icon-mail5:before {
  content: "\f152";
}
.icon-mail22:before {
  content: "\f153";
}
.icon-mail32:before {
  content: "\f154";
}
.icon-mail42:before {
  content: "\f155";
}
.icon-rss4:before {
  content: "\f156";
}
.icon-rss22:before {
  content: "\f157";
}
.icon-file-pdf1:before {
  content: "\f158";
}
.icon-file-openoffice2:before {
  content: "\f159";
}
.icon-file-word2:before {
  content: "\f15a";
}
.icon-file-excel2:before {
  content: "\f15b";
}
.icon-libreoffice2:before {
  content: "\f15c";
}
.icon-html-five3:before {
  content: "\f15d";
}
.icon-html-five22:before {
  content: "\f15e";
}
.icon-css32:before {
  content: "\f15f";
}
.icon-git2:before {
  content: "\f160";
}
.icon-svg2:before {
  content: "\f161";
}
