/**
 * CalaCss for CalaJs
 * V 1.0.0
 * Copyright e2go.org
 * License: Do no harm
 */

/**
 * Modifications to Pure and standard html
 */
html, body{
	margin: 0px;
	padding: 0px;
}

a,
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

#contentMain, #main{
	margin: 0px 3px 0px 4px;
}


#main{
}

h1,
h2,
h3,
h4,
h5{
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

p{
	margin: 5px 0px 5px 0px;
}

/**
 * Forms
 */

button,
input,
optgroup,
select,
textarea {
  color: black; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

table{

}

tbody{

}

tr{

}

td{

}

.pwdEyes{
	float: right;
	margin-right: 8px;
	margin-top: -23px;
	position: relative;
	z-index: 2;
	color: #000;
}

.pure-menu-heading{
	font-weight: bold;
	background: black;
	color: white;
}

.pure-button{
	word-break: break-all;
}

/*****************************************************************************
 *
 * New stuff
 *
 */

/**
 * Useful stuff
 */
.hidden{
	display: none;
}

.menu_link{
	text-decoration: none;
	white-space: normal;
	padding: 10px;
	display: block;
}

#navbar{
	width: 100%;
	position: fixed;
	top: 0px;
	margin-bottom: 10px;
	padding: 5px;
	z-index: 3; /* Sit on top */
	height: 35px;
	font-size: 13px;
}

#navbarFooter{
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 5px;
	z-index: 3; /* Sit on top */
	height: 24px;
}

#navbarTable{
	width: 100%;
	height: 35px;
}

#navbarTitle{
	text-align: center;
}

#navbarTitleMain{
	text-align: center;
	font-size: 1.2em;
}

#navbarLeft{
	text-align: left;
}
#navbarRight{
	width: 25%;
	text-align: right;
}

.navbarLink{
	padding-top: 3px;
}

.menuButton{
	margin-right: 10px;
	border-radius: 3px;
}

#mainContent{
	position: relative;
	top: 50px;
	margin-bottom: 150px;
}

#menuRight{
}

/**
 * Overlay with menu.
 *
 * Maybe others too.
 *
 * I forgot where I got it from.
 *
 */
.overlay {
	background: white;
	height: 100%;
	width: 0%;
	position: fixed; /* Stay in place */
	z-index: 7; /* Sit on top */
	left: 0;
	top: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlayContents {
	position: relative;
	top: 5%; /* 25% from the top */
	width: 100%; /* 100% width */
	margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	/*padding: 0px 10px 15px 10px;*/
}

/**
 * Loading overlay
 */
#overlayLoading {
	background: #ffffffa6;
	height: 100%;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 11; /* Sit on top */
	left: 0;
	top: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
}

#overlayLoadingContent {
	position: relative;
	z-index: 11;
	top: 50%;
	height: 50%;
}

/**
 * Specific for the overlay.
 *
 * @todo rename to overlayCloseBtn
 */
.closeBtn{
	/*float: right;*/
	border-bottom: 1px solid white;
	text-align: right;
	padding: 5px 10px 0px 0px;
}

#menuRightSmall{
	width: 0px;
}

/* // overlay  */

/**
 * Info messaging system.
 */
#infoMsgs{
	display: none;
	height: 150px;
}

#infoMsgsHeader{
	border: 0px;
	text-align: right;
	padding: 10px 10px 0px 0px;
}

#infoMsgsText{
	overflow: scroll;
	height: 150px;
}

/**
 * Notifications.
 */
#notifications,
#notificationsOverlay{
	position: absolute;
	right: 15px;
	z-index: 10;
}

#notificationsContainer,
#notificationsContainerOverlay{
	position: relative;
	z-index: 10;
}

.notification{

}

.notNormal{
}

.notBig{
	font-size: 2em;
}

.notHuge{
	font-size: 4em;
}

/**
 * Forms
 */

/* Help messages, can be used in other places too */
.help {
	font-size: 0.9rem;
	font-weight: bold;
	margin: 3px 0px 3px 0px;
}

.helpHeader{
	margin-top: 35px;
}

/**
 *
 * Nice messages.
 *
 */
aside{
	margin: 1em 0;
	padding: 0.3em 1em;
	border-radius: 3px;
	text-align: left;
}

.postIt{
	margin: 5px;
	padding: 0.3em 1em;
	border-radius: 3px;
	text-align: left;

}

/**
 * Generic alerts.
 *
 * This have a close button, but they are very similar to `aside`.
 */
alert{
	margin: 1em 0;
	padding: 0.3em 1em;
	border-radius: 3px;
	text-align: left;
}

.closeX{
	text-align: right;
	float: right;
}

#contentRight{
	width: 0;
}

#contentLeft{
	width: 250px;
}

.success,
.error,
.warning,
.secondary,
.info {
	/*border-radius: 4px;*/
}

.xsmall {
	font-size: 0.7rem;
}

.small {
	font-size: 0.8rem;
}

.large {
	font-size: 1.1rem;
}

.xlarge {
	font-size: 1.25rem;
}

/* Gives some internal space to the text */
.wide{
	padding: 10px;
}

.full {
	width: 100%;
}

/**
 * Cards
 */
.card{
	border-radius: 2px;
	border: 1px solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cardBox{
	box-shadow: 2px 2px #e5e5e5;
}

.cardHeader,
.cardHeaderBig{
	padding: 5px 5px 5px 20px;
	font-weight: bold;
	border-bottom: 1px solid;
}

.cardHeaderBig{
	font-size: 1.6em;
}

.cardHeaderBanner{
	max-height: 200px;
	background-repeat: no-repeat;
}

.cardBody{
	padding: 10px;
}

.cardFooter{
	padding: 5px;
	border-top: 1px solid;

}

/**
 * Chips
 */
chip{
	display: inline-block;
	border-radius: 20px;
	padding: 3px 12px 3px 12px;
	border: 1px solid #f1f1f1;
}

/**
 * Pager
 */
.pager,
.pagerBack,
.pagerNext{
	display: inline-block;
	margin: 5px 0px 5px 0px;
}

.pagerBack{
	margin: 5px 0px 5px 0px;
	border-radius: 20px 0px 0px 20px;
	padding: 3px 12px 3px 12px;
}

.pagerNext{
	margin: 5px 0px 5px 0px;
	border-radius: 0px 20px 20px 0px;
	padding: 3px 12px 3px 12px;
}

.responsive{
	width: 100%;
	height: auto;
}

.rounded{
	border-radius: 10px;
}

/**
 * Login screen
 */
#loginScreen{
}

#loginScreenContents{
	text-align: center;
	position: relative;
	top: 5px;

}

.calaPages{
	padding: 0px 20px 10px 20px;
}

/**
 * Templates.
 */
template{
	display: none;
}

/* Zones */
.zone{
	vertical-align: middle;
	text-align: center;
	padding: 35px 0px 35px 0px;
}

.zoneContents{
	display: inline-block;
	margin: 0px;
	max-width: 1200px;
}


.title{
	padding: 35px 0px 35px 15px;
}

.subTitle{
	padding: 5px 0px 15px 15px;
}

/* Avatars */
.avatarOval{
	max-width: 100px;
	max-height: 100px;
	border-radius: 100px;
}

/* User avatar */
.userAvatar{
	width: 75;
	height: auto;
}

/* Horizontal divs */
.horzContainer {
	height: 100%;
	width:100%;
}

.horz{
	text-align: left;
	display: inline-block; *display: inline;
	zoom: 1;
	vertical-align: top;
}

/* CalaUi */
.calaui_accordion{
	display: none;
}

.calaui_accordionH{
	background: #fff;
	padding: 5px;
}

.calaui_accordionHActive{
	background: #fff;
	padding: 5px;
}

.calaui_accordionHInactive{
	background: #000;
	padding: 5px;
}

.calaui_tabs{
	margin: 5px;
}

.calaui_tabsH{
	padding: 5px;
	font-size: 1.2em;
}

.calaui_tabsHActive{}

.calaui_tabsHInactive{}

.calaui_tabs li{
	display: inline;
}

.calaui_tab{
	display: none;
}

/**
 * Breakpoint
 */
@media screen and (max-width: 700px) {
	.notVisibleSmall{
		display: none;
	}
}

@media screen and (min-width: 700px) {
	.notVisibleBig{
		display: none;
	}
}

